body {
    background-color: rgb(0, 23, 36);
    font-family: fantasy;
    text-align: center;
}

h1 {
    font-size: 77px;
    color: rgb(0, 238, 255);
}

.card {
    background-color: rgb(4, 206, 246);
    border-radius: 15%;
    color: rgb(0, 23, 36);
    width: 257px;
    height: 290px;
    font-size: 27px;
    align-content: center;
    user-select: none;
    cursor:pointer;
    transition: 450ms;
}

.card:hover {
    transform: scale(1.1);
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin: 24px;
}